#spinner {
  width: 64px;
  height: 64px;
  border: 7px dotted #f1010105;
  border-radius: 50%;
  border-left-color: #ff0000;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1021;
  animation: spin 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#animation{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  display: none;
  box-sizing: border-box;
  position:fixed;
  left: 0%;
  top: 0%;
}